@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  font-family: "源樣黑體", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #000;
}

.scroll-container {
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow: hidden auto;
}

body,
.enter-color {
  background-color: #00ff00;
}

.leave-color {
  background-color: #da1217;
}

.nav {
  position: fixed;
  width: 100%;
  top: 0;
  height: 40px;
  color: #fff;
  background-color: #202222;
  display: flex;
  align-items: center;
  font-weight: 300;
  z-index: 1;
}
.nav .mdm {
  display: block;
  width: 30px;
}

.sys-ul {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
}
.sys-ul:hover .sys-li {
  display: flex;
}

.sys-li {
  position: relative;
  top: 140px;
  height: 40px;
  padding: 0 40px 0 20px;
  align-items: center;
  color: #000;
  display: none;
  background-color: white;
  list-style: none;
  box-shadow: 5px 5px 8px #000;
}
.sys-li:hover .sub-sys-ul {
  display: flex;
}

.sub-sys-ul {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 500px;
  position: relative;
}
.sub-sys-ul .sub-sys-li {
  position: relative;
  top: 140px;
  height: 40px;
  padding: 0 40px 0 20px;
  align-items: center;
  color: #000;
  display: flex;
  background-color: white;
  list-style: none;
  box-shadow: 5px 5px 8px #000;
}

.scroll-box {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #313232;
}

.notice {
  display: flex;
}

.unlock-day {
  background-color: #00ff00;
  border: none;
  font-size: 20px;
  width: 150px;
  display: none;
}

.content {
  position: relative;
  top: 15px;
  padding-top: 3vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  min-height: 100vh;
  align-items: center;
}
.content .notice {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 20px;
}
.content .place {
  font-weight: 400;
  font-size: 80px;
}

.clock {
  padding: 10px;
  display: flex;
  justify-content: center;
  font-size: 28px;
  font-weight: 900;
  color: #313232;
}
.clock ul {
  padding-left: 5px;
  display: flex;
}
.clock li {
  display: block;
}

.option {
  display: flex;
  justify-content: center;
  font-size: 25px;
  padding-bottom: 40px;
}
.option li {
  display: flex;
  align-items: center;
  padding: 10px 50px;
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.4);
}
.option .light {
  position: relative;
  left: -40px;
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  border-radius: 50%;
}

.locked-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 175px;
  border: 1px solid #000;
  border-radius: 15px;
  background: url(../images/lock-background.png);
  background-size: 300px 175px;
}
.locked-content .text-cn {
  font-family: "DFKai-sb";
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 20px;
}
.locked-content .text-num {
  font-size: 40px;
  font-weight: 600;
}

.copyright {
  position: fixed;
  font-size: 20px;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.copyright .red-text {
  color: #da1217;
}/*# sourceMappingURL=all.css.map */